/snclient
*.log
*.exe
*.deb
*.rpm
*.tar.gz
*.linux.amd64
*.linux.i386
*.darwin.aarch64
*.freebsd.i386
.vscode
.vstags
coverage.txt
vendor/
tools/
dist/
build-deb/
snclient.ini
server.crt
server.key
release_notes.txt
go.work
go.work.sum
