/snclient
*.log
*.exe
*.deb
*.rpm
*.msi
*.tar.gz
*.linux.amd64
*.linux.i386
*.darwin.aarch64
*.freebsd.i386
.vscode
.vstags
coverage.txt
vendor/
tools/
dist/
windist/
build-deb/
snclient.ini
snclient_local.ini
server.crt
server.key
release_notes.txt
release_blog.md
*.local
go.work.sum
snclient.wixobj
snclient.wixpdb
sign/
sign.pfx
winres/
rsrc_windows*.syso
node_exporter-*
