Package: snclient
Version: UNSET
Section: net
Priority: optional
Architecture: UNSET
Depends: logrotate
Standards-Version: 3.9.8
Suggests: monitoring-plugins-basic
Maintainer: Sven Nierlein <sven@consol.de>
Homepage: https://github.com/Consol-Monitoring/snclient/
Bugs: https://github.com/Consol-Monitoring/snclient/issues
Description: Monitoring agent designed as replacement for NRPE and NSClient++.
 SNClient is a cross-platform monitoring agent providing nrpe/nscp like system
 checks and prometheus metrics.
 .
 Protocols:
  * NRPE: v2/v4
  * nscp rest api: legacy / v1
