Package: snclient
Version: UNSET
Section: net
Priority: optional
Architecture: UNSET
Build-Depends: golang help2man
Suggests: monitoring-plugins-basic
Maintainer: Sven Nierlein <sven@consol.de>
Description: Cross platform general purpose monitoring agent designed as replacement for NRPE and NSClient++.
