<?xml version="1.0" encoding="utf-8"?>
<?if $(var.Platform) = x64 ?>
  <?define ProductName = "SNClient+ (x86_64)" ?>
  <?define UpgradeCode = "3735798C-3EB6-4185-9776-B25F7C605564" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define Win64 = 'yes' ?>
<?else ?>
  <?define ProductName = "SNClient+ (i386)" ?>
  <?define UpgradeCode = "B928D64B-DC01-495B-B922-47EC901C8F9A" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define Win64 = "no" ?>
<?endif ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name="$(var.ProductName)" Id="*" UpgradeCode="$(var.UpgradeCode)"
	Language='1033' Codepage='1252' Version='$(var.MajorVersion).$(var.MinorVersion).$(var.RevisionNumber)' Manufacturer='Sven Nierlein'>

	<Package Id='*' Keywords='Installer' Description="$(var.ProductName) Installer - $(var.GitSha)"
	  Manufacturer='Sven Nierlein'
	  InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' InstallScope='perMachine' />

	<MajorUpgrade
	  AllowSameVersionUpgrades="no"
	  DowngradeErrorMessage="A newer version of [ProductName] is already installed.  If you are sure you want to downgrade, remove the existing installation via the Control Panel" />

	<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
	<Property Id='DiskPrompt' Value="SNClient+ Installation [1]" />
	<Property Id="REBOOT" Value="ReallySuppress" />

	<Directory Id='TARGETDIR' Name='SourceDir'>
	  <Directory Id="$(var.PlatformProgramFilesFolder)">
		<Directory Id='INSTALLDIR' Name='snclient'>

			<Component Id='MainExecutable' Guid='B74E8F62-9C75-4C20-8128-3E5CBA81D6D9' Win64="$(var.Win64)">
				<File Id='SNClientExe' Name='snclient.exe' DiskId='1' Source='snclient.exe' KeyPath='yes' />
				<ServiceInstall
					Description='SNClient+ (Secure Naemon Client) is a secure general purpose monitoring agent designed as replacement for NRPE and NSClient++.'
					ErrorControl='ignore'
					Arguments="winservice"
					Name = 'snclient'
					Id='SNClientService'
					Interactive='no'
					Start='auto'
					Type='ownProcess'
					Vital='no'
				/>
				<ServiceControl Id='StartSNClientService' Start='install' Stop='both' Remove='uninstall' Name='snclient' Wait='no' />
			</Component>

			<Component Id='SampleCaCertificate' Guid='5754CA78-7BEF-44B2-A01B-9C156E7C859B' Win64="$(var.Win64)" NeverOverwrite='yes' Permanent='yes'>
			  <File Id='cacertPem' Name='cacert.pem' DiskId='1' Source='cacert.pem' KeyPath='yes' />
			</Component>

			<Component Id='SampleConfigurationIni' Guid='E64B4DBF-C6CF-41E5-9032-6D83C39B9323' Win64="$(var.Win64)" NeverOverwrite='yes' Permanent='yes'>
			  <File Id='snclientIni' Name='snclient.ini' DiskId='1' Source='snclient.ini' KeyPath='yes' />
			</Component>

			<Component Id='SampleServerCertificate' Guid='F58FD191-91AA-4F97-9FD8-78E2AE509AA7' Win64="$(var.Win64)" NeverOverwrite='yes' Permanent='yes'>
			  <File Id='serverCrt' Name='server.crt' DiskId='1' Source='server.crt' KeyPath='yes' />
			</Component>

			<Component Id='SampleServerKey' Guid='D06D3104-E240-4A11-BC54-62CB5FBD6AD5' Win64="$(var.Win64)" NeverOverwrite='yes' Permanent='yes'>
			  <File Id='serverKey' Name='server.key' DiskId='1' Source='server.key' KeyPath='yes' />
			</Component>

			<Component Id='LicenseFile' Guid='384396D1-F506-4AF4-B3D3-D2CEC9E881F5' Win64="$(var.Win64)">
			  <File Id='license' Name='LICENSE' DiskId='1' Source='LICENSE' KeyPath='yes' />
			</Component>

			<Component Id='ReadmeFile' Guid='E1AA1ABC-B488-4083-95B1-B46ABF0EC591' Win64="$(var.Win64)">
			  <File Id='readmeMd' Name='README.md' DiskId='1' Source='README.md' KeyPath='yes' />
			</Component>

		  </Directory>
	  </Directory>
	</Directory>

	<Feature Id='Complete' Level='1'>
	  <ComponentRef Id='MainExecutable' />
	  <ComponentRef Id='SampleCaCertificate' />
	  <ComponentRef Id='SampleConfigurationIni' />
	  <ComponentRef Id='SampleServerCertificate' />
	  <ComponentRef Id='SampleServerKey' />
	  <ComponentRef Id='LicenseFile' />
	  <ComponentRef Id='ReadmeFile' />
	</Feature>
  </Product>
</Wix>
