[Unit]
Description=SNClient Agent
After=network.target

[Service]
Type=simple
User=snclient
Group=snclient

Restart=on-failure
RestartSec=10

WorkingDirectory=/var/lib/snclient
ExecStart=/usr/bin/snclient --config=/etc/snclient/snclient.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
