name: Deploy Docs
#
#
# this workflow:
#    - deploys the markdown documentation to omd.consol.de

on:
  workflow_dispatch: {}
  push:
    tags:
      - "*"

jobs:
  copy-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        rm -rf docs/docker-compose.yaml
        rm -rf docs/.gitignore
        rm -rf docs/Makefile
    - name: Deploy
      uses: cpina/github-action-push-to-another-repository@v1.7
      env:
        SSH_DEPLOY_KEY: ${{ secrets.OMD_CONSOL_DE_KEY }}
      with:
        source-directory: 'docs/'
        destination-github-username: 'ConSol-Monitoring'
        destination-repository-name: 'omd-consol-de'
        target-directory: 'content/en/docs/snclient'
        commit-message: |
          update snclient docs

          https://github.com/ConSol-Monitoring/snclient/actions/workflows/deploy-docs.yml
        user-email: 'devnull@consol.de'
        user-name: 'github automation'
